/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea 20%, #764ba2 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
